*{
    margin: 0px;
    font-family: Arial, sans-serif;
}
/* Header section */
.header{
    background-color: skyblue;
    background-image: url(../images/pict_large.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.header-section{
    text-align: center;
   padding: 160px 400px;
}
.header-title{
    color: white;
    font-size: 40px;
}
.header-des{
    color: #C0C0C0;
    margin-top: 20px;
}
.btn-primary{
    color: aliceblue;
    font-weight: 500;
    font-size: 17px;
    border: 0;
    height: 40px;
    border-radius: 5px;
    background: red;
    padding: 0px 10px;
    margin-top: 20px;
}
/* Donate Today Section */
.donate-today{
    margin-top: 100px;
    text-align: center;
    padding: 0px 400px;
}
.donate-title{
    font-size: 35px;
}
.donate-des{
    color: #757575;
    margin-top: 15px;
}
.donate-footer{
    margin-top: 40px;
    color: #C0C0C0;
}
.box-item{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 20px;
}
.sub-item{
    background: #faf8f8;
    padding: 30px 10px;
    border-radius: 5px;
    height: 35px;
    width: 80px;
}
.sub-item-special{
    background: rgb(255, 224, 229);
    padding: 30px 10px;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    border-width: 2px;
    border-color: rgb(255, 75, 44); 
    border-style: solid;
}
.item-title{
    font-size: 25px;
    font-weight: 700;
    color: #757575;
}
.item-title-special{
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 75, 44);
}
/* Our Donate Plan Section */
.donate-plan{
    margin-top: 100px;
    text-align: center;
       
}
.donate-plan-title{
    font-size: 35px;
    padding: 0px 400px;
}
.donate-plan-des{
    color: #757575;
    margin-top: 15px;
    padding: 0px 400px;
}
.plan-container{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    text-align: left;  
    padding: 0px 250px;
}
.plans{
    background: #faf8f8;
    padding: 40px 20px 10px;
    border-radius: 5px;
    height: 200px;
    width: 220px;
}
.plan-image{
    height: 40px;
    width: 40px;
}
.plan-title{
   font-weight: 700;
   font-size: 18px;
   margin-top: 20px;
}
.plan-des{
   margin-top: 20px;
   font-size: 13px;
   color: #757575;
}
/* Others Section Styles */
.other-sec-one{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding: 0px 270px;
    gap: 0px;
}
.one-left{
    /* background: #faf8f8; */
    padding: 20px 0px;
    height: 310px;
    width: 400px;
}
.right-image{
    height: 310px;
    width: 340px;
}
.left-title{
   font-weight: 700;
   font-size: 35px;
}
.left-des-1{
    color: #757575;
    margin-top: 15px;
}
.left-des-2{
    color: #757575;
    margin-top: 15px;
}
.other-sec-two{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0px 270px;
    gap: 100px;
}
.right-title{
   font-weight: 700;
   font-size: 35px;
}
.right-des-1{
    color: #757575;
    margin-top: 15px;
}
.right-des-2{
    color: #757575;
    margin-top: 15px;
}
.two{
    padding: 20px 0px;
    height: 310px;
    width: 400px;
}
/* Update section Styles */
.update-section{
    margin-top: 70px;
    text-align: center;
    padding: 0px 400px;
}
.update-title{
   font-weight: 700;
   font-size: 35px;
}
.update-des{
    color: #757575;
    margin-top: 10px;
}
.contact{
    background: #ffeada;
    margin-top: 50px;
    padding: 50px 0px;
}
.btn-btn-primary{
    color: white;
    background: rgb(255, 75, 44);
    border: 0;
    padding: 10px 25px;
    border-radius: 5px;
}
.email{
    color: rgb(56, 69, 82);
    border: 0;
    padding: 10px 100px 10px 10px;
    border-radius: 5px;
    background: rgb(204, 206, 207);
}
/* Footer Section Styles */
.footer{
    background-color: black;
    height: 130px;
    margin-top: 100px;
}
.footer-section{
     text-align: center;
     
}
.footer-title{
    color: rgb(194, 57, 7);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 35px;
}
.footer-des{
    color: rgb(218, 215, 208);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 100;
}